# ===============
# UNITY DIR IGNORE
# ===============
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/

# ===============
# UNITY GENERATED
# ===============
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# ===============
# IDE / EDITOR
# ===============
.idea/
.vs/
.vscode/
.gradle/
ExportedObj/
.consulo/

# ===============
# OS GENERATED
# ===============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# ===============
# BUILDS & PACKAGES
# ===============
*.apk
*.aab
*.unitypackage
*.app